<div class="card">
    <div class="card-img-wrapper">
        <img class="card-img-top" src="assets/images/house1.jpg" style="border-radius: 10px;">
        <ul class="list-inline text-center member-icons animate" >
            <li class="list-inline-item">
                <button class="btn btn-primary"><i class="fas fa-list-ul"></i></button>
            </li>
            <li class="list-inline-item">
                <button class="btn btn-primary"><i class="fas fa-phone-square"></i></button>
            </li>
            <li class="list-inline-item">
                <button class="btn btn-primary"><i class="fas fa-comments"></i></button>
            </li>
        </ul>
    </div>

    <div class="card-body p-2">
        <h2>{{property.name}}</h2>
        <h3>{{property.type}}</h3>
        <h4>{{property.price}}</h4>
    </div>
</div>